.suaIESOnline {
  background: #11333D;
  text-align: center;
  padding: 20px;
}

.suaIESOnline h4 {
  font-size: 26px;
  font-weight: 600;
  margin: 20px auto;
}

.suaIESOnline p {
  font-family: "Roboto";
}
