.webinarWrapper {
  padding-top: 90px;
  background: url('/bg-webinars-blue.jpg');
  background-repeat: repeat;
  background-position: left;
}

.flexSection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title {
  font-weight: 800 !important;
  color: #333 !important;
  margin: 20px 0px !important;
}

@media screen and (max-width: 767px){
  .webinarWrapper {
    padding: 120px 10px 0px 10px;
    background-position: top right;
  }
}
