.slick-slide{
    padding: 0 20px !important;
}
.slick-dots li button:before{
    background-color: orange !important;
}
.teste h2{
 text-align: center !important;
}
.slick-dots ul{
    left: -3% !important; 
}