.containerParceiros {
  display: block;
  text-align: center;
  padding: 40px;
}

.containerParceiros h4{
  font-size: 2rem;
  font-weight: 600;
  color: #11333D;
  margin: 20px auto;
}

.containerParceiros .logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px auto;
  margin-bottom: -20px;
}

.containerParceiros .logos .item {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-transition:all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.item:hover {
  transform: scale(1.1);
}

.containerParceiros .logos .item img {
  width: 92%;
}

@media screen and (max-width: 800px){
  .containerParceiros {
    padding: 10px;
  }

  .containerParceiros .logos .item {
    width: 50%;
    padding: 10px;
  }
}
