.footer {
  background: #FDFAFE;
  min-height: 50px;
  padding: 10px;
}

.footerWrapper {
  background: #FDFAFE;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  position: relative;
  min-height: 44px;
}

.logo img {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 26px;
}
.logoCubo img{
  width: 120px !important;
  height: auto;
}

.containerMedia {
  display: flex;
  justify-content: space-around;
}

.media {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding-right: 20px;
  color: #11333D;
}

@media screen and (max-width: 800px){
  .footerWrapper {
    flex-direction: column;
    padding: 20px;
  }

  .containerMedia {
    text-align: center;
  }
}
