@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --max-width: 1200px;
  --font-family: 'Josefin Sans', sans-serif;
  --secondary-color: #11333D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  scroll-behavior: smooth;
}
 */
 
img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
.tankyou{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  padding: 0 10%;
  text-align: center;
  background: linear-gradient(50deg, #1a4b5a, #1a5a4f);
}
.tankyou h5, .tankyou h6{
  padding-bottom: 2rem;
}
.tankyou h1, .tankyou h2{
  padding-bottom: 3rem;
}